<div class="container">
  <div class="row" style="text-align:left">
    <div class="col-md-2" ></div>
    <div class="col-md-8 col-xs-12 form-container">
      <form #fpform="ngForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label>Email Id</label>
          <input type="text" name="emailid" [(ngModel)]="emailId" #email="ngModel" class="form-control" placeholder="Enter Email Id."
            required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!fpform.form.valid">Send Me Link!</button>
      </form>
     
    </div>
    <div class="col-md-2" ></div>
  </div>
</div>